
body{
    font-family: 'Poppins', sans-serif;
}

.cart-box-main{
    padding: 70px 0px;
}

.wapper_cart{
    padding: 5rem 0 3rem 0;
}

.table-main table thead{
    background: #00ccff;
    color: #ffffff;
}
.table-main .table thead th{
    font-size: 18px;
    text-align: center;

}


.table-main table td.thumbnail-img{
    width: 120px;
}
.table-main table td{
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}

.quantity-box input{
    width: 40px;
    border: 2px solid #00ccff;
    text-align: center;
    color: #00ccff;
}
.quantity-box input:focus{
    border-color: #00ccff;
}

.name-pr a {
    font-size: 1.4rem;
    font-weight: bold;
}

.remove-pr a{
    font-weight: bold;
}

.price-pr p {
    font-weight: bold;
    color: #00ccff;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.btn_checkout{
    padding: 1rem 0 3rem 0;
}

.btn_checkout button{
    background-color: #00ccff;
    color: #ffffff;
    outline: #00ccff;
    padding: .6rem 6rem;
    border: #00ccff;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    transition: all .5s ease-in-out;
}

.btn_checkout button:hover{
    background-color: #019fc7; 
    color: #ffffff;
}

.h3_total{
    color: gray;
}

.wrapper_order{
    margin: auto !important;
}

.btn_order{
    background-color: #00ccff;
    color: #ffffff;
    outline: #00ccff;
    padding: .6rem 6rem;
    border: #00ccff;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    transition: all .5s ease-in-out;
}

.padding_order{
    padding: 4rem 3rem 3rem 3rem;
}

.fix_table{
    margin-top: 2rem;
}

.success_h1{
    padding-top: 3rem;
}

.success_p{
    padding-bottom: 3rem;
}

.wrapper_loader{
    width: 100%;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 12.5%;
    z-index: 999;
}


.loader {
    position: absolute;
    top: 40%;
    left: 43%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}