

.Header {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: .8rem 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

.Logo_title{
    height: 4rem;
    width: 4rem;
}

.Header_title p {
    font-size: 1.6rem;
    padding-left: .8rem;
    margin-top: .7rem;
    text-transform: uppercase;
    color: #00ccff;
    font-weight: bold;
    letter-spacing: .2rem;
    font-family: 'Poppins', sans-serif;
}

.Navigation li{
    display: inline;
    list-style: none;
    padding: 1rem;
    margin-top: .4rem;
    text-transform: uppercase;
}

.Navigation li a{
    text-decoration: none;
    color: #00ccff;
    font-weight: 500;
}

.Navigation li a:hover{
    border-bottom: 4px solid #00ccff;
    padding-bottom: .4rem;
}

.cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ccff;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover {
    background-color: #00ccff;
    color: #ffffff;
    border-radius: 1rem;
}

.link_home:hover{
    text-decoration: none;
}